[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["httpx"], version = "==0.92.0"}
uvicorn = {extras = ["standard"], version = "==0.20.0"}
pydantic = "==1.10.4"
python-multipart = "==0.0.6"
httpx = "==0.23.2"
deta = "==1.2.0"

[dev-packages]
black = "==23.1.0"

[requires]
python_version = "3.9"
